nodered/MySQL_Line_Chart.json
[
    {
        "id": "ad1d4f4b.4ab8b8",
        "type": "tab",
        "label": "MySQL Line Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a5beabb.5e5f5c",
        "type": "inject",
        "z": "ad1d4f4b.4ab8b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "da6066078430e711"
            ]
        ]
    },
    {
        "id": "39d373478401ac6b",
        "type": "mysql",
        "z": "ad1d4f4b.4ab8b8",
        "mydb": "0bed2f7d0d224262",
        "name": "",
        "x": 720,
        "y": 260,
        "wires": [
            [
                "fef12647c933563b",
                "c55e278dd05303a6"
            ]
        ]
    },
    {
        "id": "da6066078430e711",
        "type": "template",
        "z": "ad1d4f4b.4ab8b8",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT value, created_at FROM node",
        "output": "str",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "39d373478401ac6b"
            ]
        ]
    },
    {
        "id": "fef12647c933563b",
        "type": "function",
        "z": "ad1d4f4b.4ab8b8",
        "name": "function 3",
        "func": "var series = [\"voltage measure\"];\nvar labels = [\"voltage measure\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 0, len = msg.payload.length, string = \"\"; i < len; i++) {\n    data.push({ \"x\": Date.parse(msg.payload[i].created_at), \"y\": msg.payload[i].value });\n}\n\ndata = [data];\n\nmsg.payload = [{ series, data, labels }];\nmsg.topic = \"voltage measure\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 260,
        "wires": [
            [
                "c0dc81e081ccc30a",
                "29eaa16d3f51a404"
            ]
        ]
    },
    {
        "id": "29eaa16d3f51a404",
        "type": "debug",
        "z": "ad1d4f4b.4ab8b8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "c55e278dd05303a6",
        "type": "debug",
        "z": "ad1d4f4b.4ab8b8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0dc81e081ccc30a",
        "type": "ui_chart",
        "z": "ad1d4f4b.4ab8b8",
        "name": "",
        "group": "d4527b94.bf8b2",
        "order": 0,
        "width": "29",
        "height": "16",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0bed2f7d0d224262",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.1.1",
        "port": "3306",
        "db": "node_test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d4527b94.bf8b2",
        "type": "ui_group",
        "name": "Line Chart",
        "tab": "13d5e46a29be5c27",
        "order": 1,
        "disp": true,
        "width": "29",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13d5e46a29be5c27",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]